.article_title{
    font-size: 35px;
    padding-left: 30rpx;
}
.article_content{
    margin: 13px 0px 0px 13px;
}
.at-article__p{
    font-size: 29px;
    }
.at-list__item .item-content__info-note{
        color:black ;
        font-size: 32rpx ;
    }