.title1{
    // font-size: 35rpx;
text-align: center;
margin: 15px 0px 15px 0px;
}
.at-grid{
    margin-top: 35rpx;
}
.content-inner__text{
    font-size: 29rpx;
    margin-bottom:auto;
    padding: 5rpx;
}
.content-inner__icon{
    margin-top: 50rpx;
}
.content-inner__img{
    width: 70rpx !important;
    height:70rpx !important;
}