.reimburse_text{
    font-size: 25px;
}
.article_title{
    // text-align: center;
    font-size: 31px;
    margin: 15px 15px 15px 0px;
}
.article_subTitle{
    font-size: 31px;
    margin: 15px 15px 15px 25px;
}
.keyNote{
    color:red;
    font-weight: 800;
}